.main_div {
  padding-top: 70px;
  display: flex;
  column-gap: 20px;
}
.slider {
  width: 50%;
}


.technics {
  font: var(--font-m);
  font-weight: 500;
}

ul,
li {
  align-items: center;
  font: var(--font-l);
  font-weight: 500;
  padding: 0;
  margin: 0;
  list-style: none;
}

ul {
  margin: 1em 0;
}

li {
  margin: 1em;
  margin-left: 3em;
}

// li:before {
//   content: "\f006";
//   font-family: "FontAwesome";
//   float: left;
//   margin-left: -1.5em;
//   color: #0074d9;
// }
