@import "./variables";
.ChatInputPanel {
  display: flex;
  align-items: flex-end;
  padding: 10px 40px;

  column-gap: 30px;
  background: url("../icons/telega_light_theme.jpg");
}

.textarea {
  @extend %TextareaTextStyles;
  padding: 0.5em;
  outline: 0.1px solid black;

  border-radius: 6px;
  min-height: 60px;
  max-height: 50vh;
  overflow-y: auto;
  width: 85%;
  resize: none;
  background-color: var(--translucent-bg-color-8);
  cursor: text;
  caret-color: black;

  &::-webkit-scrollbar {
    width: 0;
  }
}
