.body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.head {
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body {
  display: flex;
  flex-wrap: wrap;

  .projectItem {
    width: calc(100% / 3);
  }
}
