// Общие цвета
$global-colors: (
  --gray: #f3f3f3,
  --gray-5: #fbfbfb,
  --gray-10: #f5f6f8,
  --gray-20: #f8f9fa,
  --gray-25: #e3e3e3,
  --gray-30: #e6e6e6,
  --gray-40: #e9ecef,
  --gray-50: #dee2e6,
  --gray-60: #e5e5e5,
  --gray-70: #dadada,
  --gray-80: #ced4da,
  --gray-110: #adb5bd,
  --gray-120: #a6adc4,
  --gray-125: #a7a7a7,
  --gray-130: #6c757d,
  --gray-140: #495057,
  --gray-150: #343a40,
  --gray-160: #212529,
  --black: #4c4c4c,
  --black-10: #333333,
  --black-10--tr-40: rgba(51, 51, 51, 0.4),
  --green: #85ffae,
  --green-10: #56d388,
  --green-20: #00c48c,
  --red: #fa6565,
  --red-10: #ff5555,
  --primary: #fa941b,
  --primary-dark: #c66900,
  --primary-light: #fac6a9,
  --danger: var(--red-10),
);
