.logo--color {
  width: 210px;
  height: 64px;
  background: url("../../img/logo--color.png") no-repeat transparent
    center/contain;
}

.logo--white {
  width: 163px;
  height: 50px;
  background: url("../../img/logo--white.png") no-repeat transparent
    center/contain;
}
