@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

@import "lib/reset";
@import "variables/global.scss";

body {
  font: var(--font-m);
}

.container {
  width: 80%; // Это общий класснейм с заранее прописанными стилями. Эта ширина нужна для сайдбара.
  margin: 0 auto; // Это нужно для центрирования
}
