@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

@import "lib/reset";
@import "variables/global.scss";

* {
  font-family: var(--font--family-main);
}

.container {
  width: 80%;
  margin: 0 auto;
}
